.productCard {
    // border: 2px solid black;
    width: 400px;
    // height: 300px;
    display: flex;
    flex-direction: column;
    // margin-right: 30px;
    gap: 20px;
    // flex-wrap: wrap;
}

.img{
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

.bottomCard{
    display: flex;
    flex-direction: column;
}

.name{
    font-size: 18px;
}

.pricePart{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.reduction{
    text-decoration: line-through;
}

.price{
    font-size: 22px;
    font-weight: 400;
}

.reducePrice {
    color: red;
    font-size: 22px;
    font-weight: 600;
}