.homePage{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.productContent{
    display: flex;
    flex-direction: row;
}

.productList {
    display: flex;
    flex: 1;
    margin: 30px 0px 20px 100px;
    width: 80%;
    flex-wrap: wrap;
    gap: 30px;
}

.sideBar{
    width: 20%;
    // background-color: aqua;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px 0px 0px 10px;
}

.bottomPage{
    height: 400px;
    background-color: black;
    color: white;
}

.text{
    text-align: center;
    font-size: 24px;
}

.logo{
    width: 150px;
    height: 150px;
}

.gridPartners{
    // display: flex;
    // flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 750px;
    margin: auto;
}