.signupWrapper{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    margin: auto;
    border-radius: 50px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.textPart{
    display: flex;
    flex-direction: column;
}

.divider{
    margin-top: 40px;
    width: 5px;
    margin-right: 20px;
    margin-left: 20px;
    border-left: 2px solid black;
}

.logoPart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}

.logo{
    width: 300px;
    height: 300px;
}

.welcome{
    font-size: 40px;
}

.subTitle {
    font-size: 28px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
    margin-top: 15px;
}

.inputText {
    // height: 30px;
    border-radius: 30px;
    margin-right: 10px;
    padding: 10px;
    width: 200px;

}

.inputPassword {
    // height: 25px;
    border-radius: 30px;
    margin-right: 10px;
    padding: 10px;
    width: 200px;
}

.passwordWrapper {
    display: flex;
}

.eyecon {
    display: flex;
    align-items: center;
}

.submitButton {
    margin-top: 20px;
    height: 35px;
    width: 150px;
    font-size: 20px;
    border-radius: 30px;
    background-color: dodgerblue;
    cursor: pointer;

    &:hover {
        border: 3px solid black;
        // background-color: red;
        box-shadow: 5px 5px 5px grey;
    }

    &:active {
        background-color: red;
    }
}