.container{
    display: flex;
    flex-direction: row;
    background: linear-gradient(-25deg, #a9a9a8, #565655, #1d1d1c);
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: white;
}

.leftPart{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.middlePart {
    display: flex;
    gap: 50px;
    margin: auto;
}

.rightPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    gap: 30px;
}

.category {
    cursor: pointer;
    padding: 5px;
    &:hover {
        border: 1px solid white;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 1px rgb(207, 207, 207);
    }
}

.selected{
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 1px rgb(207, 207, 207);
}

.search{
    display: flex;
}

.cart{
    display: flex;
}