.aboutContainer{
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 20px;
}

.title{
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 1px red;
}

.container{
    font-size: 20px;
    text-align: left;
    
}