.formControl{
    :global .MuiFormLabel-root{
        color: white !important;
    }

    // :global .

}

.inputSearch {
    // background-color: red;
    :global .MuiInputBase-input /*-MuiInput-input*/ {
        color: white !important;
    }
}

// :global 

:global .MuiInput-root{
    &::before{
        border-bottom: 1px solid white !important;
    }

    &::after{
        border-bottom: 1px solid white !important;
    }
}